---
import CvTimeline from "@/components/ui/CvTimeline.astro";
import {
	education,
	experiences,
	qualifications,
	weldingSkills,
} from "@/data/cv";
import Layout from "@/layouts/Layout.astro";

import List from "@/components/ui/List.astro";
import type { Education, Experience } from "@/types/cv";

let orderdExperiences: Experience[] = [];
let orderdEducations: Education[] = [];

const orderElement = <T extends { time: string }>(a: T, b: T) => {
	const presentValues = ["present", "now", "current", "today"];
	if (
		presentValues.includes(
			(a["time"] as string)?.split(" - ")[1]?.toLowerCase(),
		)
	) {
		// If the date is 'present', it should be the first element
		return -1;
	}
	const dateA = new Date((a["time"] as string)?.split(" - ")[1]);
	const dateB = new Date((b["time"] as string)?.split(" - ")[1]);
	return dateB.getTime() - dateA.getTime();
};

if (experiences.length > 0) {
	orderdExperiences = experiences.sort((a, b) => {
		return orderElement(a, b);
	});
}

if (education.length > 0) {
	orderdEducations = education.sort((a, b) => {
		return orderElement(a, b);
	});
}
---

<Layout>
	{
		orderdEducations.length > 0 && (
			<section class="mb-12">
				<h2 class="classTitle">Formations</h2>
				<CvTimeline elements={orderdEducations} colored={true} />
			</section>
		)
	}

	{
		orderdExperiences.length > 0 && (
			<section class="mb-12">
				<h2 class="classTitle">Expériences</h2>
				<CvTimeline elements={orderdExperiences} colored={true} />
			</section>
		)
	}

	{
		qualifications.length > 0 && (
			<section class="mb-12">
				<h2 class="classTitle">Habilitations</h2>
				<List listItems={qualifications} asLink />
			</section>
		)
	}

	{
		weldingSkills.length > 0 && (
			<section class="mb-12">
				<h2 class="classTitle">Compétences soudage</h2>
				{weldingSkills.map((skill) => (
					<div class="p-4 bg-base-200 rounded-lg mb-4">
						<h3 class="text-xl font-semibold mb-2">
							{skill.process}
						</h3>
						<p class="mb-2">Positions : {skill.positions}</p>
						<p class="mb-2">
							Matériaux : {skill.material.join(", ")}
						</p>
					</div>
				))}
			</section>
		)
	}
</Layout>
