---
interface Props {
	listItems: {
		title: string;
		description: string;
		link?: string;
	}[];
	asLink?: boolean;
}
const { listItems, asLink } = Astro.props;
---

<div class="grid gap-6 mb-12">
	{
		listItems.map((item) =>
			asLink ? (
				<a
					href={item.link}
					class="p-5 bg-base-200 rounded-xl text-base-content flex flex-col justify-between gap-4 group"
					target="_blank"
				>
					<h3 class="font-bold text-xl">{item.title}</h3>

					<div class="flex justify-between">
						<p>{item.description}</p>
						<div class="transition-all duration-150 opacity-1 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="26"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<>
									<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
									<polyline points="15 3 21 3 21 9" />
									<line x1="10" x2="21" y1="14" y2="3" />
								</>
							</svg>
						</div>
					</div>
				</a>
			) : (
				<div class="p-5 bg-base-200 rounded-xl text-base-content">
					<h3>{item.title}</h3>
					<p>{item.description}</p>
				</div>
			),
		)
	}
</div>

<style>
	svg {
		background-size: 40px 40px;
	}
</style>
