---
import Envelope from "@/assets/icons/envelope.svg";
import LinkedIn from "@/assets/icons/linkedin-in.svg";

import { social } from "@/settings";

const activeSocial = Object.keys(social).filter(
	(key) => social[key as keyof typeof social] !== "",
);
const calculatedIconSize =
	activeSocial.length <= 5
		? "size-6"
		: activeSocial.length <= 6
			? "size-5"
			: "size-4";
const calculatedContainerSize =
	activeSocial.length <= 5
		? "size-12"
		: activeSocial.length <= 6
			? "size-10"
			: "size-8";
---

<div class="flex flex-wrap gap-1 items-center">
	<!-- Email -->
	{
		social.email !== "" && (
			<a
				href={`mailto:${social.email}`}
				class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-base-200 transition-all duration-300 hover:text-base-content`}
			>
				<title>Envoyer un e-mail</title>
				<Envelope class={calculatedIconSize} fill="currentColor" />
			</a>
		)
	}

	<!-- Linkedin -->
	{
		social.linkedin !== "" && (
			<a
				href={social.linkedin}
				target="_blank"
				class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-base-200 transition-all duration-300 hover:text-base-content`}
			>
				<title>Voir mon profil LinkedIn</title>
				<LinkedIn class={calculatedIconSize} fill="currentColor" />
			</a>
		)
	}
</div>
